.row {
  display: grid;
  grid-template-columns: repeat(2, minmax(10vw, 1fr));
  gap: 1rem;
  position: relative;
  z-index: 1;
  margin-bottom: 10rem;

  @media only screen and (max-width: 992px) {
    grid-template-columns: 1fr;
    margin-bottom: 5rem;
  }
}

.row__image {
  display: grid;
  place-items: center;
  padding: 20px;

  @media only screen and (max-width: 1200px) {
    padding: 0;
  }

  @media only screen and (max-width: 992px) {
    margin-bottom: 30px;
  }

  @media only screen and (max-width: 576px) {
    margin-bottom: 0;
  }

  &.display-right {
    grid-column: 2/3;

    @media only screen and (max-width: 992px) {
      grid-column: unset;
    }
  }
}

.row__mockup {
  height: 300px;
  width: auto;

  @media only screen and (max-width: 1200px) {
    height: 250px;
  }

  @media only screen and (max-width: 576px) {
    height: unset;
    width: 100%;
  }
}

.row__content {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.display-right {
    grid-column: 1/2;
    grid-row: 1/2;

    @media only screen and (max-width: 992px) {
      grid-column: unset;
      grid-row: unset;
    }
  }

  .row__title {
    color: var(--text-black);
    font-size: 1.8rem;
    margin-bottom: 10px;

    @media only screen and (max-width: 992px) {
      font-size: 1.5rem;
    }

    @media only screen and (max-width: 576px) {
      font-size: 1.2rem;
      text-align: center;
    }
  }

  .row__desc {
    margin-bottom: 20px;
    font-size: 1rem;

    @media only screen and (max-width: 576px) {
      font-size: 0.9rem;
    }
  }

  .row__btns {
    display: flex;
    flex-wrap: wrap;
  }

  .row__btn {
    font-size: 0.9rem;
    color: var(--text-black);
    padding: 8px 15px;
    margin-right: 1em;
    margin-bottom: 10px;
    text-decoration: none;
    outline-width: 0;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    position: relative;
    border: 1px solid var(--black);
    transition: color 0.4s;
    display: inline-block;
    z-index: 0;

    @media only screen and (max-width: 576px) {
      font-size: 0.7rem;
    }

    @media (hover: hover) {
      &:hover {
        color: var(--color-primary);
      }

      &:hover:before {
        width: 100%;
      }
    }

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 0%;
      background-color: var(--black);
      transition: width 0.2s cubic-bezier(0.54, 0.02, 1, 0.47);
      z-index: -1;
    }
  }
}
