.contact {
  margin-top: 2vh;
  height: 100vh;
  background-color: var(--white-bg);
  position: relative;
  max-height: 100vh;
  overflow: hidden;

  @media only screen and (max-width: 992px) {
    margin-top: 0;
  }
}

.contact__container {
  padding: 0 var(--padding-desktop);
  position: relative;
  z-index: 1;
  animation: fadeIn 1s .5s forwards;
  opacity: 0;

  @keyframes fadeIn {
    to {
      opacity: 1
    }
  }

  @media only screen and (max-width: 576px) {
    padding: 0 var(--padding-mobile);
  }
}

.contact__title {
  overflow-y: hidden;
  font-size: 5rem;
  margin-top: 9rem;
  margin-left: 4rem;
  margin-bottom: 2rem;
  color: var(--text-black);

  @media only screen and (max-width: 1200px) {
    font-size: 4.5rem;
  }

  @media only screen and (max-width: 992px) {
    font-size: 3.5rem;
    margin-left: 0;
  }

  @media only screen and (max-width: 576px) {
    font-size: 3rem;
    margin-bottom: 3rem;
    margin-left: 0;
  }

  @media only screen and (max-width: 300px) {
    font-size: 2rem;
  }

  & .colored {
    color: var(--color-primary);
  }
}

.slider__container {
  overflow-y: hidden;
}

.swap {
  outline-width: 0;
}

.contact__desc {
  margin-left: 4rem;
  color: var(--text-black);
  width: 100%;
  max-width: 520px;
  line-height: 1.5;
  @media only screen and (max-width: 992px) {
    margin-left: 0;
  }
}

.contact__btn {
  padding: 15px 30px;
  display: inline-block;
  border: none;
  border-radius: 8px;
  margin-top: 2rem;
  margin-left: 4rem;
  background: linear-gradient(90deg, #e5e5e5, #fafafa);
  color: var(--text-black);
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s;
  transform: translateZ(0);
  backface-visibility: hidden;

  @media only screen and (max-width: 992px) {
    margin-left: 0;
  }

  @media only screen and (max-width: 576px) {
    margin: 0 var(--padding-mobile);
    margin-top: 2rem;
    font-size: 0.9rem;
    padding: 15px 20px;

    & span {
      display: none;
    }
  }

  @media (hover: hover) {
    &:hover {
      box-shadow: 0px 15px 20px rgba(38, 26, 1, 0.5);
      transform: translateY(-2px);
    }
  }
}

.contact__waves {
  position: absolute;
  bottom: -70px;
  left: 0;
  z-index: 0;

  @media only screen and (max-width: 992px) {
    bottom: -20px;
  }

  @media only screen and (max-width: 768px) {
    bottom: 0;
  }

  @media only screen and (max-width: 576px) {
    height: 200px;
    bottom: -50px;
  }
}

.deco {
  background-color: #181102;
  opacity: 0.7;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  position: absolute;
  right: -80px;
  top: -130px;
  
}
