.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  padding: 0 var(--padding-desktop);
  height: 8vh;
  background-color: var(--black);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--white);
  @media only screen and (max-width: 576px) {
    padding: 0 var(--padding-mobile);
  }
}

.nav__logo-container {
  height: 100%;
  display: grid;
  place-items: center;
  cursor: pointer;
  overflow: hidden;
}

.nav__logo {
  height: 4vh;

  @media only screen and (max-width: 576px) {
    height: 2.5vh;
  }
}

.nav__menu {
  cursor: pointer;
  font-family: 'Montserrat', sans-serif;
  transition: color 0.3s;
  overflow: hidden;
  position: relative;
  height: 19px;
  width: 60px;
  border: none;
  background-color: transparent;
  color: var(--white);
  outline-width: 0;
  font-size: 1rem;

  &:disabled {
    cursor: not-allowed;
  }

  @media (hover: hover) {
    &:hover {
      color: var(--color-primary);
    }
  }

  &-dot {
    color: var(--color-primary);
    margin-left: 2px;
  }
}

.nav__menu-item {
  position: absolute;
  top: 0;
  left: 0;
  transition: top 0.8s ease-in;
}

.close {
  top: -100%;
}
